// generated: {{.Timestamp}}
debug: false
server_name: "{{.ServerName}}"
host: ::
port: 4222
monitor_port: 8222

pid_file: /var/run/nats-server.pid
cluster: {
    name: "{{.Region}}"
    listen: "{{.Host}}:7221"
    routes: [
        "nats-route://{{.Region}}.{{.AppName}}.internal:7221"
    ]
    connect_retries: 60
}
gateway: {
    name: "{{.Region}}"
    listen: "{{.Host}}:7222"
    gateways: [
        {{range .GatewayRegions}}{name: "{{.}}", urls:["nats://{{.}}.{{$.AppName}}.internal:7222"]},{{end}}
    ]
}
reconnect_error_reports: 1

authorization {
  default_permissions = {
    publish = []
    subscribe = []
  }
  ADMIN = {
    publish = ">"
    subscribe = ">"
  }
  REQUESTOR = {
    publish = []
    subscribe = ">"
  }
  users = [
    {user: admin,   password: $ADMIN_PASS, permissions: $ADMIN}
    {user: client,  password: $CLIENT_PASS, permissions: $REQUESTOR}
  ]
}

websocket {
    port: 9222
    no_tls: true
    compression: true
}

jetstream {
    store_dir: /data
}